<section class="container">
  <div id="title" class="col-md-12 col-xs-12">
    <h2>Edit hotel</h2>
  </div>
  <%= form_for @hotel, :html => { :class => 'hotel-new' } do |f| %>
    <div class="pull-left col-md-4 col-xs-4 margin-bottom">
      <%= f.label :name %><br>
      <%= f.text_field :name, :disabled => true %>
    </div>
    <div class="pull-left col-md-8 col-xs-8 margin-bottom">
      <%= f.label :address %><br>
      <%= f.text_field :address, :disabled => true, :html => { :class => 'txt-address' } %>
    </div>
    <div class="pull-left col-md-4 col-xs-4 margin-bottom">
      <%= f.label :price %><br>
      <%= f.text_field :price, :autofocus => true %><br>
    </div>
    <div class="pull-left col-md-8 col-xs-8 margin-bottom">
      <%= f.label :web %><br>
      <%= f.text_field :website, :html => { :class => 'txt-address' } %><br>
    </div>
    <div class="pull-left col-md-4 col-xs-4">
      <%= f.label :city %><br>
      <%= select_tag "[hotel][city_id]", options_from_collection_for_select(@cities, :id, :name) %><br>
    </div>
    <div class="pull-right col-md-2 col-xs-2 margin-bottom pink-button">
      <%= f.submit :update %>
    </div>
  <% end %>
</section>