<section class="container">
  <table>
    <tr>
      <th class="hotel-edits">&nbsp;</th>
      <th class="hotel-name">Name</th>
      <th class="hotel-address">Address</th>
    </tr>
    <% @hotels.each do |hotel| %>
      <tr>
        <td class="hotel-edits"><%= link_to 'edit', edit_hotel_path(hotel) %> <%= link_to 'delete', hotel_path(hotel), method: :delete %></td>
        <td class="hotel-name"><%= hotel.name %></td>
        <td class="hotel-address"><%= hotel.address %></td>
      </tr>
    <% end %>
    <tr>
      <td>&nbsp;</td>
      <td colspan="2"><%= link_to 'add new hotel', new_hotel_path, class: 'admin' %></td>
    </tr>
  </table>
</section>